
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<br><br>
<div class="col-md-6 offset-md-3">
  <div class="card">
    <div class="card-header">
      <h5>Inicio</h5>
    </div>
    <div class="card-body">
      <form>
          <div class="row no-gutters">
            <div class="col-md-1.50">
              <img src="https://img.myloview.com.br/adesivos/imagem-de-perfil-padrao-160-27677370.jpg" width="60" height="60"
              alt="..." class="rounded-circle border border-warning">
            </div>
            <div class="col-md-10 ">
                <textarea class="form-control border border-white" id="descricao" name="descricao" cols="60" rows="2" maxlength=3 ></textarea>
            </div>
          </div>
      <p></p>
      <div>
        <i class="fa fa-pencil-square"></i>
      <i class="far fa-image-square"></i>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
      </form>
    </div>
  </div>
</div>
